.App {
  text-align: center;
}

label {
  display: grid;
  padding: 10px;
}

.buttons {
  margin-left: 10px;
  justify-content: center;
  font-weight: bold;
}

.login-forms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.sign-in-form {
  border: dotted black 1px;
  margin: 10px;
  padding: 15px;
  background-color: rgb(214, 214, 214);
  opacity: 90%;
}

.sign-up-form {
  border: dotted black 1px;
  margin: 10px;
  padding: 15px;
  background-color: rgb(214, 214, 214);
  opacity: 90%;
}

body {
  background-image: url(./public/store.jpeg);
}
