.App {
  text-align: center;
}


.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  border: groove;
  width: 400px;
  margin: 15px;
  padding: 10px;
  justify-content: center;
}

.movie img {
  width: 250px;
}